{%load static%}
<!--here the line 1 is a template text and we will use many template text like this-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
  </head>
  <body>
    <!-- <h1>hi there</h1>
    <img src="{%static 'images/shafayet.png'%}" alt="this is a picture"> -->
    <!-- now navbar section -->
    <nav id="navbar" class="flex s-around bg-color">
      <div class="left-nav">
        <h2 class="t-white">Portfolio</h2>
      </div>

      <div class="right-nav">
        <ul class="flex">
          <li>
            <a href="#home" class="t-white roboto"
              >Home <i class="fa-solid fa-house"></i
            ></a>
          </li>
          <li>
            <a href="#about" class="t-white roboto"
              >About Me <i class="fa-solid fa-user"></i
            ></a>
          </li>
          <li>
            <a href="#skills" class="t-white roboto"
              >Skills <i class="fa-solid fa-code"></i
            ></a>
          </li>
          <li>
            <a href="#Projects" class="t-white roboto"
              >Projects <i class="fas fa-project-diagram"></i
            ></a>
          </li>
          <li>
            <a href="#Contact" class="t-white roboto"
              >Contact <i class="fa-solid fa-rocket"></i
            ></a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
      <div class="home-left flex items-center">
        <div class="home-content">
          <h6 class="poppinss">Hi, I'm</h6>
          <h1 class="t-white">Shafayet karim</h1>
          <h4 class="poppinss">Software Engineer</h4>
          <a href="{% static 'pdf/Shafayet_Karim_CV __.pdf' %}" target="_blank">
            <button class="btn poppins">Resume</button></a
          >

          <a
            class="btn live poppins"
            id="hireme"
            href="https://www.linkedin.com/in/shafayet-karim-3826411a6/"
            target="_blank"
            >Let's Talk</a
          >
        </div>
      </div>
      <div class="home-right flex s-center items-center">
        <div class="circle flex s-center items-center" id="mainImage">
          <img src="{% static 'images/shafayet.png'%}" alt="" />
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="about">
      <h1 class="t-center my-2 t-white f-2">About Me</h1>
      <div class="about-container flex s-around">
        <div class="about-left flex s-center items-center">
          <!-- Here in src replade the given link with your secondary image link -->
          <img
            src="{%static 'images/shafayet1.png'%}"
            alt=""
            style="width: 60%"
          />
        </div>

        <div class="about-right flex">
          <div class="about-content">
            <h1 class="t-white m-b-1 poppins">Shafayet Karim</h1>
            <p class="t-white poppins">
              Hi, I'm Shafayet Karim, a Software Engineer passionate about
              developing modern web applications and solving real-world problems
              through code. I work with Python, Django, JavaScript, React.js,
              Go, and REST APIs to build responsive, scalable, and maintainable
              applications. I enjoy turning ideas into practical solutions,
              whether it's an eCommerce platform, or productivity-focused web
              tools. I believe in writing clean code, learning continuously, and
              improving through hands-on projects and problem-solving.
            </p>
            <a class="btn" id="hireme" href="">Hire Me</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Skills Section -->
    <!-- ================= SKILLS SECTION ================= -->

<section id="skills">

    <h1 class="skills-title">My Skills</h1>
    <p class="skills-subtitle">
        Technologies & Tools I use to build modern web applications.
    </p>

    <div class="skills-grid">

        <!-- Python -->
        <div class="skill-card">
            <div class="skill-icon">
                <i class="fa-brands fa-python"></i>
            </div>

            <h3>Python & Django</h3>

        </div>

        <!-- C -->
        <div class="skill-card">
            <div class="skill-icon">
                <i class="fa-solid fa-c"></i>
            </div>

            <h3>C Programming</h3>

            
        </div>

        <!-- Go -->
        <div class="skill-card">
            <div class="skill-icon">
                <i class="fa-solid fa-code"></i>
            </div>

            <h3>Go (Golang)</h3>

            
        </div>

        <!-- HTML -->
        <div class="skill-card">
            <div class="skill-icon">
                <i class="fa-brands fa-html5"></i>
            </div>

            <h3>HTML5</h3>

            
        </div>

        <!-- CSS -->
        <div class="skill-card">
            <div class="skill-icon">
                <i class="fa-brands fa-css3-alt"></i>
            </div>

            <h3>CSS3</h3>

        </div>

        <!-- JavaScript -->
        <div class="skill-card">
            <div class="skill-icon">
                <i class="fa-brands fa-js"></i>
            </div>

            <h3>JavaScript</h3>

        </div>

        <!-- MySQL -->
        <div class="skill-card">
            <div class="skill-icon">
                <i class="fa-solid fa-database"></i>
            </div>

            <h3>MySQL</h3>

        </div>

        <!-- Git -->
        <div class="skill-card">
            <div class="skill-icon">
                <i class="fa-brands fa-git-alt"></i>
            </div>

            <h3>Git & GitHub</h3>

        </div>

    </div>

    </section>

     <!-- Projects Section -->
    <section id="Projects">
        <h1 class=" t-center my-2 t-white f-2">Projects</h1>
        <div class="projects-container flex s-center">
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">Amazone-clone</h1>
                <p class="t-white poppins"> This is a functional shopping app intended to be a clone of Amazon and some of its features. This is clone is mixed with my design style and features that I thought would make it look better. This was created with React and incorporates Firebase Cloud firestore , firebase authentication, and accepts payments through Stripe.</p>
                <div class="buttons flex s-around">
                    <a href=""
                        target="_blanks" class="btn mx-1 m-top">GitHub</a>
                    <a href="" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">My Portfolio</h1>
                <p class="t-white poppins">This is My portfolio website which is created with HTML,CSS and Javascript which describe my skill and knowledge.My portfolio website showcases my work in a sleek and minimalist design, allowing the focus to be on the content itself. The layout is uncluttered, making it easy for visitors to navigate and explore my projects.</p>
                <div class="buttons flex s-around">
                    <a href="" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
           
         </div>

        </div>
    </section>

    <!-- Contact Me Section -->
    <section id="Contact" class="m-b-1">
        <h1 class=" t-center my-2 t-white f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post" > 
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                            required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="number" id="" class="poppins" placeholder="Enter Your Phone"
                            required>
                    </div>
                    
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                            placeholder="Enter Messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">Send</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <li><a href="#projects" class="poppinss">Projects</a></li>
            <li><a href="#portfolio" class="poppinss">Portfolio</a></li>
        </ul>
        <ul class="flex s-center w-80 font-awesome ">
            <a href="https://www.linkedin.com/in/shafayet-karim-3826411a6/"
            target="_blank" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="https://github.com/Karim-162" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
                <a href="https://www.facebook.com/karimshafayet" target="_blank">
                    <li><i class="fa-brands fa-facebook"></i></li>
            </a>
            </a>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=shafayetkarim04@gmail.com" target="_blank">
                    <li><i class="fa-brands fa-envelope"></i></li>
            </a>
        </ul>
        <p class="t-center my-2 poppins">&copy; All Rights Reserved - <span class="cpy-white poppins">Shafayet Karim 
        </span></p>

    </footer>



  </body>
</html>
